extends layout

block content
    div(class="my-container")
        div(class="about__information")
            h2 What is this website about?
            p This website is a small project by a computer science student from Germany, who likes web development and data science. In an attempt to improve their skills in that field this project was started.
            p It uses the Twitter API to fetch data which is then sanitized and provided to the user with graphs.